MINIO_IMAGE=quay.io/minio/minio:RELEASE.2025-10-15T17-29-55Z
MINIO_CONTAINER_NAME=minio
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001
MINIO_CONSOLE_INTERNAL_PORT=9001
MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=
MINIO_PROMETHEUS_AUTH_TYPE=public
MINIO_DATA_DIR=/srv/devops/minio/data
