UNBOUND_CONTAINER_NAME=unbound
UNBOUND_IMAGE=mvance/unbound:1.22.0
UNBOUND_PORT=53
NET_DNS_RESOLVER=127.0.0.1
NET_UPSTREAM_DNS_PRIMARY=8.8.8.8

UNBOUND_LOCAL_RECORD_1_FQDN=git.example.com
UNBOUND_LOCAL_RECORD_1_IP=10.0.0.36
UNBOUND_LOCAL_RECORD_2_FQDN=reg.example.com
UNBOUND_LOCAL_RECORD_2_IP=10.0.0.36

UNBOUND_FORWARD_ADDR_1=8.8.8.8
UNBOUND_FORWARD_ADDR_2=8.8.8.8@853#dns.google
UNBOUND_FORWARD_ADDR_3=223.5.5.5@53#dns.aliyun
UNBOUND_FORWARD_ADDR_4=1.1.1.1@853#cloudflare-dns.com
