WORDPRESS_CONTAINER_NAME=wordpress
WORDPRESS_IMAGE=wordpress:6.8.3-php8.3-apache
WORDPRESS_HTTP_PORT=8080
WORDPRESS_DB_HOST=mysql.internal.example.com:3306
WORDPRESS_DB_USER=wordpress
WORDPRESS_DB_PASSWORD=
WORDPRESS_DB_NAME=wordpress

WORDPRESS_NGINX_SERVER_NAME=blog.example.com
WORDPRESS_NGINX_SSL_CERT=/etc/ssl/certs/example.fullchain.pem
WORDPRESS_NGINX_SSL_KEY=/etc/ssl/private/example.key
WORDPRESS_NGINX_UPSTREAM_HOST=127.0.0.1
WORDPRESS_NGINX_UPSTREAM_PORT=8080
