PROMETHEUS_IMAGE=prom/prometheus:v2.54.1
PROMETHEUS_CONTAINER_NAME=prometheus
PROMETHEUS_DATA_DIR=./prometheus_data
PROMETHEUS_PORT=9090
PROMETHEUS_RETENTION=720h

GRAFANA_IMAGE=grafana/grafana:11.2.2
GRAFANA_CONTAINER_NAME=grafana
GRAFANA_PORT=3000
GRAFANA_USER=admin
GRAFANA_PASSWORD=

NODE_EXPORTER_IMAGE=quay.io/prometheus/node-exporter:v1.8.2
NODE_EXPORTER_CONTAINER_NAME=node-exporter
NODE_EXPORTER_HOSTNAME=node-exporter
NODE_EXPORTER_PORT=9100

PROMETHEUS_EXTERNAL_LABEL=myna-monitor
PROMETHEUS_NODE_TARGETS='["10.0.0.10:9100","10.0.0.11:9100"]'
PROMETHEUS_ELASTICSEARCH_TARGETS='["10.0.0.12:9114"]'
PROMETHEUS_APP_TARGETS='["10.0.0.30:81"]'
