REDIS_IMAGE=redis:7.4-alpine
REDIS_CONTAINER_NAME=redis
GLOBAL_TIMEZONE=Asia/Shanghai
REDIS_PORT=6379
REDIS_DATA_DIR=/srv/devops/redis/data

REDIS_EXPORTER_IMAGE=oliver006/redis_exporter:v1.67.0
REDIS_EXPORTER_CONTAINER_NAME=redis-exporter
REDIS_EXPORTER_PORT=9121

REDIS_INSIGHT_IMAGE=redis/redisinsight:2.70
REDIS_INSIGHT_CONTAINER_NAME=redisinsight
REDIS_INSIGHT_PORT=5540
REDIS_INSIGHT_DATA_DIR=/srv/devops/redis/insight
