[mysqld]
character-set-server = utf8mb4
wait_timeout = 31536000
max_allowed_packet = 128M
group_concat_max_len = 1638400
default-time-zone = '+8:00'
# 开启查询日志
general_log = on
general_log_file = /var/log/mysql/mysql.log
# 开启slow_query日志
slow_query_log = on
slow_query_log_file = /var/log/mysql/mysql-slow.log
long_query_time = 1
