# ============ 通用账号 ============
DB_USER=admin
DB_PASSWORD=

# ============ pgAdmin ============
PGADMIN_EMAIL=admin@example.com
PGADMIN_PASSWORD=

# ============ Elasticsearch / Kibana ============
DB_ELASTIC_PASSWORD=

# ============ Grafana ============
GF_ADMIN_USER=admin
GF_ADMIN_PASSWORD=

# ============ Mongo Express Web 登录 ============
MONGO_EXPRESS_WEB_USER=admin
MONGO_EXPRESS_WEB_PASSWORD=

# ============ Qdrant ============
QDRANT_API_KEY=
