PROXY_PORT=8888
PROXY_ALLOWED_CIDR=10.6.0.0/24
WARP_EXCLUDED_ROUTE=10.6.0.0/16
WIREGUARD_INTERFACE_NAME=wg6
WIREGUARD_OUTBOUND_IFACE=eth0

JFROG_ARTIFACTORY_IMAGE=releases-docker.jfrog.io/jfrog/artifactory-oss:7.111.7
JFROG_ARTIFACTORY_DATA_DIR=/opt/jfrog/artifactory/var
JFROG_ARTIFACTORY_PORT_UI=8081
JFROG_ARTIFACTORY_PORT_ROUTER=8082
